In [11]:
import spacy
import en_core_web_sm
import pandas as pd
import spacytextblob.spacytextblob as spacytextblob
import datetime

df = pd.read_json('/Users/User/Desktop/OPTUS-AI/OPTUS-AI/analysis/yashas/opiates_comments1.json')
display(df.head())

nlp = spacy.load("en_core_web_sm")
nlp.add_pipe('spacytextblob')

,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,body,controversiality,created_utc,distinguished,gilded,...,parent_id,reply_delay,retrieved_on,score,score_hidden,subreddit,subreddit_id,created,user_removed,edited
0,ENRICOs,1.212326e+09,None,None,t2_35s46,Wrong. Loperamide is an analog of meperidine (...,0,1308887031,None,0,...,t3_i7bwt,36564.0,1427279366,2,False,opiates,t5_2r0y3,1308901431,NaN,NaN
1,[deleted],NaN,None,None,None,at bonnaroo. it smelled like flowers but I did...,0,1308881233,None,0,...,t3_g8qw3,8108626.0,1427279124,1,False,opiates,t5_2r0y3,1308895633,NaN,NaN
2,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Lol methadone....abiet old school??,0,1308877576,None,0,...,t1_c21iap8,15926.0,1427278959,1,False,opiates,t5_2r0y3,1308891976,NaN,NaN
3,ttd,1.298605e+09,None,None,t2_4w05s,Immodium (loperamide) does in fact have activi...,0,1308861650,None,0,...,t3_i7bwt,11183.0,1427278139,1,False,opiates,t5_2r0y3,1308876050,NaN,NaN
4,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Heard of this as well...,0,1308854583,None,0,...,t1_c21h7r4,1357.0,1427277677,1,False,opiates,t5_2r0y3,1308868983,NaN,NaN

In [9]:

df = df.loc[(df['body'] != '') & (df['body'] != '[deleted]') & (df['body'] != '[removed]')]
df.reset_index(inplace=True, drop=True)

display(df.head())

,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,body,controversiality,created_utc,distinguished,gilded,...,parent_id,reply_delay,retrieved_on,score,score_hidden,subreddit,subreddit_id,created,user_removed,edited
0,ENRICOs,1.212326e+09,None,None,t2_35s46,Wrong. Loperamide is an analog of meperidine (...,0,1308887031,None,0,...,t3_i7bwt,36564.0,1427279366,2,False,opiates,t5_2r0y3,1308901431,NaN,NaN
1,[deleted],NaN,None,None,None,at bonnaroo. it smelled like flowers but I did...,0,1308881233,None,0,...,t3_g8qw3,8108626.0,1427279124,1,False,opiates,t5_2r0y3,1308895633,NaN,NaN
2,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Lol methadone....abiet old school??,0,1308877576,None,0,...,t1_c21iap8,15926.0,1427278959,1,False,opiates,t5_2r0y3,1308891976,NaN,NaN
3,ttd,1.298605e+09,None,None,t2_4w05s,Immodium (loperamide) does in fact have activi...,0,1308861650,None,0,...,t3_i7bwt,11183.0,1427278139,1,False,opiates,t5_2r0y3,1308876050,NaN,NaN
4,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Heard of this as well...,0,1308854583,None,0,...,t1_c21h7r4,1357.0,1427277677,1,False,opiates,t5_2r0y3,1308868983,NaN,NaN

In [12]:
df['blob'] = df['body'].apply(lambda text: nlp(text)._.blob)
df['polarity'] = df['blob'].apply(lambda blob: blob.polarity)
df['subjectivity'] = df['blob'].apply(lambda blob: blob.subjectivity)

df['formatted_date'] = df['created_utc'].apply(lambda date: datetime.datetime.fromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S'))

In [18]:
display(df['polarity'].describe())
display(df['subjectivity'].describe())

display(df)

count    1104.000000
mean        0.070377
std         0.223466
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.170032
max         1.000000
Name: polarity, dtype: float64

count    1104.000000
mean        0.344651
std         0.302867
min         0.000000
25%         0.000000
50%         0.400000
75%         0.576794
max         1.000000
Name: subjectivity, dtype: float64

,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,body,controversiality,created_utc,distinguished,gilded,...,subreddit_id,created,user_removed,edited,blob,polarity,subjectivity,formatted_date,month,year
0,ENRICOs,1.212326e+09,None,None,t2_35s46,Wrong. Loperamide is an analog of meperidine (...,0,1308887031,None,0,...,t5_2r0y3,1308901431,NaN,NaN,"(W, r, o, n, g, ., , L, o, p, e, r, a, m, i, ...",0.106736,0.424861,2011-06-23 23:43:51,06,2011
1,[deleted],NaN,None,None,None,at bonnaroo. it smelled like flowers but I did...,0,1308881233,None,0,...,t5_2r0y3,1308895633,NaN,NaN,"(a, t, , b, o, n, n, a, r, o, o, ., , i, t, ...",0.160000,0.540000,2011-06-23 22:07:13,06,2011
2,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Lol methadone....abiet old school??,0,1308877576,None,0,...,t5_2r0y3,1308891976,NaN,NaN,"(L, o, l, , m, e, t, h, a, d, o, n, e, ., ., ...",0.450000,0.450000,2011-06-23 21:06:16,06,2011
3,ttd,1.298605e+09,None,None,t2_4w05s,Immodium (loperamide) does in fact have activi...,0,1308861650,None,0,...,t5_2r0y3,1308876050,NaN,NaN,"(I, m, m, o, d, i, u, m, , (, l, o, p, e, r, ...",0.152051,0.613974,2011-06-23 16:40:50,06,2011
4,nvrwastetree,1.291778e+09,,Buprenorphine,t2_4lj4t,Heard of this as well...,0,1308854583,None,0,...,t5_2r0y3,1308868983,NaN,NaN,"(H, e, a, r, d, , o, f, , t, h, i, s, , a, ...",0.000000,0.000000,2011-06-23 14:43:03,06,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,[deleted],NaN,None,None,None,[deleted],0,1293859172,None,0,...,t5_2r0y3,1293873572,1.0,NaN,"([, d, e, l, e, t, e, d, ])",0.000000,0.000000,2011-01-01 00:19:32,01,2011
1100,djspaceace,1.179276e+09,None,None,t2_1r1bk,exactly what I came here to say. These are bar...,0,1293858776,None,0,...,t5_2r0y3,1293873176,NaN,NaN,"(e, x, a, c, t, l, y, , w, h, a, t, , I, , ...",0.027778,0.302778,2011-01-01 00:12:56,01,2011
1101,[deleted],NaN,None,None,None,[deleted],0,1293857706,None,0,...,t5_2r0y3,1293872106,1.0,NaN,"([, d, e, l, e, t, e, d, ])",0.000000,0.000000,2010-12-31 23:55:06,12,2010
1102,[deleted],NaN,None,None,None,[deleted],0,1293857480,None,0,...,t5_2r0y3,1293871880,1.0,NaN,"([, d, e, l, e, t, e, d, ])",0.000000,0.000000,2010-12-31 23:51:20,12,2010
1103,[deleted],NaN,None,None,None,[deleted],0,1293857358,None,0,...,t5_2r0y3,1293871758,1.0,NaN,"([, d, e, l, e, t, e, d, ])",0.000000,0.000000,2010-12-31 23:49:18,12,2010

In [20]:
df['month'] = df['formatted_date'].apply(lambda date: date.split('-')[1])
df['year'] = df['formatted_date'].apply(lambda date: date.split('-')[0])

for i in range(1, 12):
    display(df.loc[df['month'].])

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object

0       06
1       06
2       06
3       06
4       06
        ..
1099    01
1100    01
1101    12
1102    12
1103    12
Name: month, Length: 1104, dtype: object